/src/nbproject/private/
/src/build/
/public/nbproject/private/
/public/build/
/node_modules/target/
/VsCode/nbproject/private/
/VsCode/build/
/node_modules/bin/nbproject/private/
/node_modules/bin/build/
/node_modules/build/nbproject/private/
/node_modules/build/build/